# OS
.DS_Store

# Env
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node / JS
node_modules/
dist/
build/
coverage/
.cache/

# Python
__pycache__/
.pytest_cache/

# IDEs
.idea/
.vscode/

# Misc
*.swp
*.swo
